/* General body styles */
body {
    font-family: "Inter", sans-serif;
    overflow: hidden; /* Prevents scrolling of the entire page */
    margin: 0; /* Ensures no default margin */
}

/* Canvas specific styles */
canvas {
    touch-action: none; /* Prevents default touch actions like scroll/zoom on the canvas */
    display: block; /* Removes potential bottom spacing */
}

/* Custom font class */
.font-outfit {
    font-family: 'Outfit', sans-serif;
}

/* Style rule for stats displays to enforce vertical alignment */
#allTimeStatsDisplay, #worldwideStatsDisplay {
    height: 20px; /* Set fixed height */
    line-height: 20px; /* Set line-height equal to height for vertical centering */
}
