body {
    font-family: "Inter", sans-serif;
    overflow: hidden; /* Prevents scrolling of the entire page */
    margin: 0; /* Ensures no default margin */
}
canvas {
    touch-action: none; /* Prevents default touch actions like scroll/zoom on the canvas element itself */
    display: block; /* To remove possible bottom spacing */
}
.font-outfit {
    font-family: 'Outfit', sans-serif;
}
/* Additional style rule for the statistics displays to enforce vertical alignment */
#allTimeStatsDisplay, #worldwideStatsDisplay {
    height: 20px; /* Set fixed height */
    line-height: 20px; /* Set line-height equal to height for vertical centering */
}
